*{
    box-sizing: border-box;
}

h1{
    color:green;
    margin-top: 0;
    padding-top: 21.44px;
}

header{
    background-color: lightgray;
}


body{
    margin: 0;
    min-height: 100vh;
    background-color: bisque;
}

a{
    text-decoration:none;
}

header,main,footer{
    padding: 0 3%;
}

.center{
    margin: 0 auto;
    text-align: center;
}

.copyright{
    margin: 0;
    font-style: italic;
    font-weight:bold;
}

@media (max-width: 600px) {
    table, thead, tbody, th, td, tr, caption{
        display: block;
    }

    thead tr{
        display: none;
    }
}